<!DOCTYPE html>
<html lang="zxx" class="no-js">
	{{define "head"}} 
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Paul & Carlos</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link  href="/static/css/main.css" rel="stylesheet">
	{{end}}

	{{define "body"}}

		<!-- start banner Area -->
		<section class="banner-area relative" id="home">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-start">
					<div class="banner-content col-lg-8 col-md-12">
						<h4 class="text-white text-uppercase">Variadad de platillos</h4>
						<h1>
							Comida Sana
						</h1>
						<p class="text-white">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
						</p>
						<a href="#" class="primary-btn header-btn text-uppercase">Revisa nuestro menu</a>
					</div>												
				</div>
			</div>
		</section>

		<!-- End banner Area -->	

		<!-- Start top-dish Area -->
		<section class="top-dish-area section-gap" id="dish">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Recomendaciones del chef</h1>
							<p>Hechos por quienes están extremadamente enamorados del sistema ecológico.</p>
						</div>
					</div>
				</div>						
				<div class="row">
					<div class="single-dish col-lg-4">
						<div class="thumb">
							<img class="img-fluid"  src="/static/images/d1.jpg" alt="">
						</div>
						<h4 class="text-uppercase pt-20 pb-20">Sandwich de pavo orgánico</h4>
						<p>
							Prueba en nuestra tienda SANDWICHES DE PAVO ORGANICO, VEGETARIANO Y DE ATÚN En pan integral tres granos de 17 cm y vegetales y salsas a tu gusto. Con Queso Mozzarella deslactosado y descremado ó tofu. DISFRÚTALOS CON NUESTROS SMOOTHIES O BEBIDAS CALIENTES
						</p>
					</div>
					<div class="single-dish col-lg-4">
						<div class="thumb">
							<img class="img-fluid"  src="/static/images/d2.jpg" alt="">
						</div>
						<h4 class="text-uppercase pt-20 pb-20">Chuleta de ternera con cebolla</h4>
						<p>
							Esta fantástica receta de ternera con cebolla, es uno de esos platos, que siempre te sorprenderá por la alta calidad de la carne y su exquisito sabor.
						</p>
					</div>
					<div class="single-dish col-lg-4">
						<div class="thumb">
							<img class="img-fluid"  src="/static/images/d3.jpg" alt="">
						</div>
						<h4 class="text-uppercase pt-20 pb-20">Carne con salsa y vegetales</h4>
						<p>
							Un plato que se presta a muchos sabores, cargada no solo de vegetales, sino de sabores increíbles. 
						</p>
					</div>												
				</div>
			</div>	
		</section>
		<!-- End top-dish Area -->

		
		<script src="js/jquery-2.2.4.min.js"></script> <!--Funciona con el -->
		<script src="js/easing.min.js"></script>	<!--Funciona con el -->		
		<script src="js/main.js"></script>	<!--Funciona con el -->
	{{end}}
</html>
